@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker&display=swap');

* {
    background-color: green;
}

header {
    height: 0rem;
}

#nav-card-container{
    display:flex;
    justify-content:center;
}

#nav-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    height: 10rem;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
    background-color: lawngreen;
    list-style: none;
}

#nav-card h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 5rem;
    background-color: lawngreen;
    font-family: 'Fredoka One', cursive;
}

#nav-card p{
    text-align: center;
    background-color: lawngreen;
    font-family: 'Permanent Marker', cursive;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: lawngreen;
}

#nav-bar div{
    background-color: lawngreen;
}

#new-user-signup{
    background-color: lawngreen;
}

.message{
    margin-top: 0px;
    margin-bottom: 0px;
}

#user-login{
    background-color: lawngreen;
}

#user-logout{
    background-color: white;
}

.form-title{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    text-align: center;
    background-color: lawngreen;
    font-family: 'Fredoka One', cursive;
}

.form-field{
    background-color: white;
}

#play-button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-top: 10px;
}

#play-button{
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    background-color: lawngreen;
    display: none
}
